DelVizDataStructure/Service References/DelVizWebService/DelVizWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DelVizWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DelVizWebService" />
      <xsd:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTags" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviews" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagsOfVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsOfVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagsOfVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsOfVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTBCsOfVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTBCsOfVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTBCsOfVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTBCsOfVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagsInBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsInBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagsInBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsInBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBundlesInCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundlesInCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBundlesInCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundlesInCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviewsByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviewsByTag" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviewsByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviewsByTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviewsByTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviewsByTags" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisualizationPreviewsByTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisualizationPreviewsByTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisIDsByTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisIDsByTags" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllVisIDsByTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisIDsByTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTag_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTag" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_EditBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTag_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTag" />
  </wsdl:message>
  <wsdl:message name="IService1_EditTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:EditVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_EditVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTag_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTag" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBundles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBundles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBundlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTag" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeBundle" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeBundleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TagVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:TagVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_TagVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UntagVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:UntagVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_UntagVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:UntagVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVisualization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualization" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVisualization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRelatedTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelatedTags" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRelatedTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelatedTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagFrequencies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTagFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilteredTagFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredTagFrequencies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilteredTagFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredTagFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTagFrequency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagFrequency" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTagFrequency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRandomVisualizationForTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomVisualizationForTag" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRandomVisualizationForTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomVisualizationForTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateFilterHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilterHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateFilterHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilterHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoriesAndBundlesOfTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesAndBundlesOfTag" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoriesAndBundlesOfTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesAndBundlesOfTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWeightedTagFrequency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeightedTagFrequency" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWeightedTagFrequency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeightedTagFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVisualizationsOrderedByTagCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualizationsOrderedByTagCount" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVisualizationsOrderedByTagCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisualizationsOrderedByTagCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLatestVisualizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVisualizations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLatestVisualizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVisualizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CountVizWithoutTags_InputMessage">
    <wsdl:part name="parameters" element="tns:CountVizWithoutTags" />
  </wsdl:message>
  <wsdl:message name="IService1_CountVizWithoutTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountVizWithoutTagsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTags" message="tns:IService1_GetAllTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTagsResponse" message="tns:IService1_GetAllTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVisualizations" message="tns:IService1_GetAllVisualizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationsResponse" message="tns:IService1_GetAllVisualizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviews" message="tns:IService1_GetAllVisualizationPreviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviewsResponse" message="tns:IService1_GetAllVisualizationPreviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsOfVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTagsOfVisualization" message="tns:IService1_GetAllTagsOfVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTagsOfVisualizationResponse" message="tns:IService1_GetAllTagsOfVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTBCsOfVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTBCsOfVisualization" message="tns:IService1_GetAllTBCsOfVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTBCsOfVisualizationResponse" message="tns:IService1_GetAllTBCsOfVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsInBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTagsInBundle" message="tns:IService1_GetAllTagsInBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTagsInBundleResponse" message="tns:IService1_GetAllTagsInBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCategories" message="tns:IService1_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCategoriesResponse" message="tns:IService1_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBundlesInCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBundlesInCategory" message="tns:IService1_GetAllBundlesInCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBundlesInCategoryResponse" message="tns:IService1_GetAllBundlesInCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviewsByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTag" message="tns:IService1_GetAllVisualizationPreviewsByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTagResponse" message="tns:IService1_GetAllVisualizationPreviewsByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviewsByTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTags" message="tns:IService1_GetAllVisualizationPreviewsByTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTagsResponse" message="tns:IService1_GetAllVisualizationPreviewsByTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisIDsByTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllVisIDsByTags" message="tns:IService1_GetAllVisIDsByTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllVisIDsByTagsResponse" message="tns:IService1_GetAllVisIDsByTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCategory" message="tns:IService1_InsertCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertCategoryResponse" message="tns:IService1_InsertCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertBundle" message="tns:IService1_InsertBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertBundleResponse" message="tns:IService1_InsertBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertTag" message="tns:IService1_InsertTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertTagResponse" message="tns:IService1_InsertTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertVisualization" message="tns:IService1_InsertVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertVisualizationResponse" message="tns:IService1_InsertVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUser" message="tns:IService1_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserResponse" message="tns:IService1_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCategory" message="tns:IService1_EditCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCategoryResponse" message="tns:IService1_EditCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditBundle" message="tns:IService1_EditBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditBundleResponse" message="tns:IService1_EditBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditTag" message="tns:IService1_EditTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditTagResponse" message="tns:IService1_EditTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditUser" message="tns:IService1_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditUserResponse" message="tns:IService1_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditVisualization" message="tns:IService1_EditVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditVisualizationResponse" message="tns:IService1_EditVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteVisualization" message="tns:IService1_DeleteVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteVisualizationResponse" message="tns:IService1_DeleteVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCategory" message="tns:IService1_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCategoryResponse" message="tns:IService1_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBundle" message="tns:IService1_DeleteBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBundleResponse" message="tns:IService1_DeleteBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTag" message="tns:IService1_DeleteTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTagResponse" message="tns:IService1_DeleteTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategory" message="tns:IService1_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoryResponse" message="tns:IService1_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBundles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBundles" message="tns:IService1_GetAllBundles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBundlesResponse" message="tns:IService1_GetAllBundles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBundle" message="tns:IService1_GetBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBundleResponse" message="tns:IService1_GetBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeCategory" message="tns:IService1_ChangeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeCategoryResponse" message="tns:IService1_ChangeCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTag" message="tns:IService1_GetTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTagResponse" message="tns:IService1_GetTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUser" message="tns:IService1_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUserResponse" message="tns:IService1_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeBundle" message="tns:IService1_ChangeBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeBundleResponse" message="tns:IService1_ChangeBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TagVisualization" message="tns:IService1_TagVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TagVisualizationResponse" message="tns:IService1_TagVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UntagVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UntagVisualization" message="tns:IService1_UntagVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UntagVisualizationResponse" message="tns:IService1_UntagVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisualization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVisualization" message="tns:IService1_GetVisualization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVisualizationResponse" message="tns:IService1_GetVisualization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatedTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRelatedTags" message="tns:IService1_GetRelatedTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRelatedTagsResponse" message="tns:IService1_GetRelatedTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTagFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTagFrequencies" message="tns:IService1_GetAllTagFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTagFrequenciesResponse" message="tns:IService1_GetAllTagFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredTagFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilteredTagFrequencies" message="tns:IService1_GetFilteredTagFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilteredTagFrequenciesResponse" message="tns:IService1_GetFilteredTagFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagFrequency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTagFrequency" message="tns:IService1_GetTagFrequency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTagFrequencyResponse" message="tns:IService1_GetTagFrequency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomVisualizationForTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRandomVisualizationForTag" message="tns:IService1_GetRandomVisualizationForTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRandomVisualizationForTagResponse" message="tns:IService1_GetRandomVisualizationForTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFilterHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateFilterHistory" message="tns:IService1_UpdateFilterHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateFilterHistoryResponse" message="tns:IService1_UpdateFilterHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesAndBundlesOfTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategoriesAndBundlesOfTag" message="tns:IService1_GetCategoriesAndBundlesOfTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoriesAndBundlesOfTagResponse" message="tns:IService1_GetCategoriesAndBundlesOfTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeightedTagFrequency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWeightedTagFrequency" message="tns:IService1_GetWeightedTagFrequency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWeightedTagFrequencyResponse" message="tns:IService1_GetWeightedTagFrequency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisualizationsOrderedByTagCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVisualizationsOrderedByTagCount" message="tns:IService1_GetVisualizationsOrderedByTagCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVisualizationsOrderedByTagCountResponse" message="tns:IService1_GetVisualizationsOrderedByTagCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVisualizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLatestVisualizations" message="tns:IService1_GetLatestVisualizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLatestVisualizationsResponse" message="tns:IService1_GetLatestVisualizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountVizWithoutTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountVizWithoutTags" message="tns:IService1_CountVizWithoutTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountVizWithoutTagsResponse" message="tns:IService1_CountVizWithoutTags_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTags">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVisualizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviews">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVisualizationPreviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsOfVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTagsOfVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTBCsOfVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTBCsOfVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsInBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTagsInBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBundlesInCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllBundlesInCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviewsByTag">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisualizationPreviewsByTags">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVisualizationPreviewsByTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisIDsByTags">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllVisIDsByTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTag">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/EditBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTag">
      <soap:operation soapAction="http://tempuri.org/IService1/EditTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IService1/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/EditVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBundles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTag">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeBundle">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/TagVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UntagVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/UntagVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisualization">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVisualization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedTags">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRelatedTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTagFrequencies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTagFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredTagFrequencies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilteredTagFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagFrequency">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTagFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomVisualizationForTag">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRandomVisualizationForTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFilterHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateFilterHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesAndBundlesOfTag">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategoriesAndBundlesOfTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeightedTagFrequency">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWeightedTagFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisualizationsOrderedByTagCount">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVisualizationsOrderedByTagCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVisualizations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLatestVisualizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountVizWithoutTags">
      <soap:operation soapAction="http://tempuri.org/IService1/CountVizWithoutTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DelVizWebService">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://141.76.66.11:8080/DelVizWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>