DelVizDataStructure/Service References/DelVizWebService/DelVizWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DelVizWebService" />
  <xs:import schemaLocation="http://141.76.66.11:8080/DelVizWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllTagsResult" nillable="true" type="q1:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllVisualizationsResult" nillable="true" type="q2:ArrayOfVisualization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllVisualizationPreviewsResult" nillable="true" type="q3:ArrayOfVisualizationPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsOfVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsOfVisualizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllTagsOfVisualizationResult" nillable="true" type="q4:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTBCsOfVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTBCsOfVisualizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllTBCsOfVisualizationResult" nillable="true" type="q5:ArrayOfTagBundleCategoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsInBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsInBundleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllTagsInBundleResult" nillable="true" type="q6:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q7:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundlesInCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundlesInCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllBundlesInCategoryResult" nillable="true" type="q8:ArrayOfBundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviewsByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="FilterExpression" nillable="true" type="q9:TagFilterExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviewsByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllVisualizationPreviewsByTagResult" nillable="true" type="q10:ArrayOfVisualizationPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviewsByTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="FilterExpressions" nillable="true" type="q11:ArrayOfTagFilterExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisualizationPreviewsByTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllVisualizationPreviewsByTagsResult" nillable="true" type="q12:ArrayOfVisualizationPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisIDsByTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="FilterExpressions" nillable="true" type="q13:ArrayOfTagFilterExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisIDsByTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllVisIDsByTagsResult" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="category" nillable="true" type="q15:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="bundle" nillable="true" type="q16:Bundle" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBundleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="tag" nillable="true" type="q17:Tag" />
        <xs:element minOccurs="0" name="bundleID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="vis" nillable="true" type="q18:Visualization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVisualizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="user" nillable="true" type="q19:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="category" nillable="true" type="q20:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="bundle" nillable="true" type="q21:Bundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBundleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="tag" nillable="true" type="q22:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="user" nillable="true" type="q23:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="visualization" nillable="true" type="q24:Visualization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVisualizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVisualizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetCategoryResult" nillable="true" type="q25:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBundlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllBundlesResult" nillable="true" type="q26:ArrayOfBundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetBundleResult" nillable="true" type="q27:Bundle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bundleID" type="xs:int" />
        <xs:element minOccurs="0" name="newCategoryID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetTagResult" nillable="true" type="q28:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetAllUserResult" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
        <xs:element minOccurs="0" name="newBundleID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBundleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TagVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
        <xs:element minOccurs="0" name="visualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagVisualizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UntagVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:int" />
        <xs:element minOccurs="0" name="visualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UntagVisualizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visualizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetVisualizationResult" nillable="true" type="q30:Visualization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tagIDList" nillable="true" type="q31:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRelatedTagsResult" nillable="true" type="q32:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagFrequencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagFrequenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllTagFrequenciesResult" nillable="true" type="q33:ArrayOfKeyValueOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredTagFrequencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="FilterExpressions" nillable="true" type="q34:ArrayOfTagFilterExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredTagFrequenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFilteredTagFrequenciesResult" nillable="true" type="q35:ArrayOfKeyValueOfintTagFrequencyItemhVeLmePX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagFrequency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagFrequencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTagFrequencyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomVisualizationForTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomVisualizationForTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetRandomVisualizationForTagResult" nillable="true" type="q36:VisualizationPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilterHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="filterList" nillable="true" type="q37:ArrayOfTagFilterExpression" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="previousTagList" nillable="true" type="q38:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilterHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="UpdateFilterHistoryResult" nillable="true" type="q39:ArrayOfHistoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesAndBundlesOfTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesAndBundlesOfTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetCategoriesAndBundlesOfTagResult" nillable="true" type="q40:BundleAndCategoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeightedTagFrequency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="SelectedTags" nillable="true" type="q41:ArrayOfTagFilterExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeightedTagFrequencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetWeightedTagFrequencyResult" nillable="true" type="q42:TagFrequencyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizationsOrderedByTagCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizationsOrderedByTagCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVisualizationsOrderedByTagCountResult" nillable="true" type="q43:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVisualizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVisualizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DelVizWebService" minOccurs="0" name="GetLatestVisualizationsResult" nillable="true" type="q44:ArrayOfVisualizationPreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountVizWithoutTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountVizWithoutTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountVizWithoutTagsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>